In [ ]:
# importing the library
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns

In [ ]:
dataset = pd.read_csv("/content/house price.csv")
dataset.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [ ]:
df = dataset.replace({'mainroad': {'yes': 1, 
                                'no': 0}})

In [ ]:
df = df.replace({'guestroom': {'yes': 1, 
                                'no': 0}})

In [ ]:
df = df.replace({'basement': {'yes': 1, 
                                'no': 0}})

In [ ]:
df = df.replace({'hotwaterheating': {'yes': 1, 
                                'no': 0}})

In [ ]:
df = df.replace({'airconditioning': {'yes': 1, 
                                'no': 0}})

In [ ]:
df = df.replace({'prefarea': {'yes': 1, 
                                'no': 0}})

In [ ]:
df = df.replace({'furnishingstatus': {'furnished': 1,'semi-furnished':2, 
                                'unfurnished': 0}})

In [ ]:
df.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,1,0,0,0,1,2,1,1
1,12250000,8960,4,4,4,1,0,0,0,1,3,0,1
2,12250000,9960,3,2,2,1,0,1,0,0,2,1,2
3,12215000,7500,4,2,2,1,0,1,0,1,3,1,1
4,11410000,7420,4,1,2,1,1,1,0,1,2,0,1

In [ ]:
x = df[['area', 'bedrooms', 'bathrooms', 'stories', 'mainroad', 'guestroom', 'basement', 'hotwaterheating', 'airconditioning', 'parking', 'prefarea','furnishingstatus']]
y = df['price']

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 100)

In [ ]:
# implementing linear model 
from sklearn.linear_model import LinearRegression
mlr = LinearRegression()
mlr.fit(x_train, y_train)

LinearRegression()

In [ ]:
mlr.fit(x_train, y_train)
y_pred = mlr.predict(x_test)

In [ ]:
a = mlr.coef_
b = mlr.intercept_,
print("Estimated model slope, a:", a)
print("Estimated model intercept, b:", b)

Estimated model slope, a: [2.49214835e+02 9.14626591e+04 1.14376582e+06 4.12268214e+05
 5.95196774e+05 3.88093231e+05 2.84722141e+05 8.53678495e+05
 8.75009233e+05 2.46854994e+05 6.08165795e+05 1.51818466e+05]
Estimated model intercept, b: (-459175.23612548504,)

In [ ]:
mlr.predict(x)[0:5]

array([ 8004086.0265639 , 10726365.93496877,  7694892.20929869,
        8143332.13487603,  6512701.56450317])

In [ ]:
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
print("RMSE Value: {:,4f}", format(rmse))

RMSE Value: {:,4f} 1058839.0264770852

In [ ]:
from sklearn.metrics import r2_score
print("R2 score value:{:.4f}".format(r2_score(y_test, y_pred)))

R2 score value:0.6823

In [ ]:
# prediction of the test
y_pred_mlr = mlr.predict(x_test)
# predicted values
print("prediction for test set: {}".format(y_pred_mlr))

prediction for test set: [ 4008253.22129643  6831360.99503527  5684288.41936071  5289152.79136305
  4882434.02733921  3954854.37015208  8045324.12964825  5827254.66659133
  3569641.77407425  5522818.19850102  2988992.72456383  6188486.97026041
  4460320.46354469  7526551.13828684  5814669.56214609  6938812.56198625
  8143332.13487603  4452156.30056882  5930784.5747889   4807190.24767904
  4375187.75941901  2769212.40481249  4440411.77054103  3673906.83877315
  2729040.94934783  3543739.37798696  5266489.4883178   6407400.59453487
  6484707.90336948  5047532.50064112  3089315.71165174  4614028.83515834
  3058751.36179112  2784365.82816979  4877213.8752924   4794485.91162311
  4714341.7335855   3105152.76753536  3216171.35391699  4368350.05997393
  3138456.94254975  6077011.44720834  6043014.81955922  2976827.37199504
  2664245.09218021  4544811.94700558  4624402.59467908  5011583.94172886
  3300084.58588305  6246125.80395785  2004999.29139691  6667469.29779911
  6005685.69302837  6620108.19680684  6932180.94059516  5171888.47713103
  6267900.82714942  2881808.82875647  2747232.81771604  4119571.46982839
  2802376.98731299  3600279.10605722  7303010.94231635  7062738.74755794
  2818755.04873705  3221417.71690706  6764572.00567898  2553069.34591388
  2479441.61319796  6215206.06340066  2722188.41214763  6290321.91312429
  3824087.53616313  3475257.04251517  5208853.17036824  4240390.63383201
  6781187.94860555  8201947.88472403 10001027.74054221  5607846.42304774
  8166041.0052561   2710894.20380278  2885141.88517504  2787103.95005324
  5195932.99475969  3266939.82739924  3467780.59745736  5901396.25585284
  5034859.2134972   2636261.28371643  4330904.83552315  3004667.6866295
  3401057.52974269  4893318.95770077  4727338.76202321  2933941.36110592
  4803432.10995599  3288345.91607012  6257255.91201951  3029553.64738866
  4783332.59685287  6442723.51732204  6126962.13788844  7880641.85993171
  3860817.96521819  4709014.10611047  3144440.057232    4205733.49044671
  4061721.31383617]

In [ ]:
mlr_diff = pd.DataFrame({'Actual value': y_test, 'Predicted value': y_pred_mlr})
mlr_diff.head()

     Actual value  Predicted value
265       4403000     4.008253e+06
54        7350000     6.831361e+06
171       5250000     5.684288e+06
244       4550000     5.289153e+06
268       4382000     4.882434e+06

In [ ]:
from sklearn import metrics
meanAbErr = metrics.mean_absolute_error(y_test, y_pred_mlr)
meanSqErr = metrics.mean_squared_error(y_test, y_pred_mlr)
rootMeanSqErr = np.sqrt(metrics.mean_squared_error(y_test, y_pred_mlr))
print('R squared: {:.2f}'.format(mlr.score(x,y)*100))
print("Mean Absolute Error: ", meanAbErr)
print("mean square error: ", meanSqErr)
print("root mean square error: ", rootMeanSqErr)

R squared: 67.65
Mean Absolute Error:  793008.1826383676
mean square error:  1121140083990.9414
root mean square error:  1058839.0264770852